<template name="playagentPlayersDashboard">
        <div id="playerDashboard">

                <div class="col-md-10">
                        <div class="row">
                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                                <i class="fa fa-soccer-ball-o"></i><span style="margin-left:10px"> {{_ "playagentPlayersDashboard"}}</span>
                                        </div>
                                        <div class="panel-body">
                                                {{> reactiveTable collection=players settings=playersCollectionSettings }}
                                        </div>
                                        
                                </div>


                        </div>


                </div>




        </div>

</template>



<!--
<template name="playerOld">

     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        

          <div class="thumbnail">
              <div class="caption">


                <div class='col-lg-6  well-add-card'>
                        {{#with getDoc picture 'ProfilePictures'}}
							<img src="{{url store='thumbs'}}" data-playerProfileImg="{{url store='thumbs'}}" class="img-thumbnail img-rounded">
						{{/with}}

                    <h4 data-playerId="{{_id}}" data-playerFullName="{{fullName}}">{{fullName}}</h4>
                </div>
                
                
                <div class='col-lg-6'>
                    <p>{{nationality}}</p>
                    <p class="text-muted">birth date: {{formatDate date_of_birth}}</p>
                    <p class="text-muted">age: {{age date_of_birth}}</p>
                </div>
                <div class='col-lg-12'>
                   {{# unless processing}}
      <p class="alert alert-warning">you can donate to a player and make his life better</p>

       {{else}}
        <p class="alert alert-warning"><i class="fa fa-refresh fa-spin"></i> Processing...</p>
      {{/unless}}
      </div>
                
                <button data-service="donate-eur-5"  class="btn btn-primary" type="button">
                Donate <span class="glyphicon glyphicon-credit-card"></span>
                </button>

                <button disabled class="btn btn-primary pull-right" type="button">
                Details <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
            </div>
          </div>
        </div>
</template>


<template name="player">

       <div class="col-md-6">
      <div class="panel panel-default">
			<div class="panel-body">

              		<div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2 data-playerId="{{_id}}" data-playerFullName="{{fullName}}" class="text-primary"><b><span class="glyphicon glyphicon-user"></span> {{fullName}}</b></h2>
            
                            <p><strong><span class="fa fa-heart-o"></span> Age: </strong>{{age date_of_birth}}</p>
                            <p><strong><span class="fa fa-flag-o"></span> Nationality: </strong>{{nationality}}</p>
                            <p><strong><span class="fa fa-dribbble"></span> Skills: </strong>
                                <span class="label label-info tags">foot: {{preferred_foot}}</span>
                                <span class="label label-info tags">position: {{player_position}}</span> 
                                
                            </p>
                        </div>       
                        <div class="col-xs-12 col-sm-4 text-center">

                            {{#with getDoc picture 'ProfilePictures'}}
							<img height ='180' width= '180' src="{{url store='thumbs'}}" data-playerProfileImg="{{url store='thumbs'}}" class="center-block img-circle img-responsive profile-img">
						    {{/with}}
                                <ul class="list-inline ratings text-center" title="Ratings">
                                
                                </ul>
                        </div>

                                          

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> {{getTotalDonationsAmount}} </strong></h2>                    
                            <p><small>Donations (Euros)</small></p>
                            
                            <button data-service="donate-eur-5" class="btn btn-success btn-block"><span class="fa fa-credit-card "></span> Donate </button>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>35</strong></h2>                    
                            <p><small>Followers</small></p>
                            <li class="visible-xs">
                
              </li>
                            <a href="{{pathFor 'player_profile'}}"  button class="btn btn-info btn-block"><span class="fa fa-user"></span> </a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>58</strong></h2>                    
                            <p><small>Market Index</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Donate and Buy (50/50) </button>  
                        </div>
              		</div>
            <div class ="row">
                <div class ="col-xs-12 col-sm-12">
                 {{# unless processing}}
                <p><i class="fa fa fa-lightbulb-o"></i><small>You can donate to a player and make his life better</small></p>             
                {{else}}            
                <p ><i class="fa fa-refresh fa-spin"></i> <small> Processing..</small>.</p>
                {{/unless}}
                </div>
                </div>
              </div>
          </div>
    </div>


</template>

-->