<template name="profile">
	<div class="template-profile">
		<div class="container">
			<div class="row">
				{{#if User.services.google.picture}}
				<div class="col-md-4">
				<img  src="{{User.services.google.picture}}" height="120px" width="120px"/> 

				</div>
				{{else}}
					{{#autoForm id="updatePicture" collection=Users doc=User type="update"}}
						<div class="col-md-4">
						{{> afQuickField name="profile.picture"}}
						</div>
					{{/autoForm}}
				
				{{/if}}
				{{#autoForm id="updateProfile" collection=Users doc=User type="update"}}
				<div class="col-md-8">
					{{> afQuickField name='profile' omitFields="profile.picture"}}
					<button type="submit" class="btn btn-primary">{{_ "update"}}</button>
				</div>
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>